@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --ab-pr: #85AF49;
  --ab-pr-lt: #85AF495c;
  --pr-lt: #b3b3b35c;
}

.hover:bg-ab-pr {
  background-color: var(--primary-color);
}

.datepicker-wrapper {
    position: absolute;
    transform: translate(0%, 80px);
    font-size: 13px;
    inset: 7px auto 0 0px;
    z-index: 99;
}
.dateshow {
  text-wrap: nowrap;
}